:root {
  --color1eg: #f4a942;
  --color2eg: #ffdc73;
}

body{
  background-image: linear-gradient(to top, #191414 30%, var(--color1eg));
  width: 100%;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Commons Regular';
  src: url('../../TT Commons Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Commons Bold';
  src: url('../../TT Commons Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Commons DemiBold';
  src: url('../../TT Commons DemiBold.otf') format('opentype');
}

footer {
  background-color: #333;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5), -2px -2px 10px rgba(0, 0, 0, 0.5);
  color: #fff;
  font-family: 'Commons Regular', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  padding: 20px;
  margin-top: 70px;
}

footer:hover{
  color: var(--color1eg);
  cursor: pointer;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.dropdown {
  position: relative;
  display: inline-block;
  transition-duration: 1s;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 200px;
  z-index: 1;
  margin-left: 10px;
  transition-duration: 1s;
}

.dropdown-content a {
  color: white;
  font-family: 'Commons Regular', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  margin-top: 5px;
  padding: 8px 8px;
  text-decoration: none;
  display: block;
  border-radius: 15px;
  background-color: var(--color1eg);
  transition-duration: 1s;
}

.dropdown-content a:hover {
  background-color: var(--color2eg);
  transition-duration: 1s;
}

.dropdown:hover .dropdown-content {
  display: block;
  transition-duration: 1s;
}

.dropbtn {
  text-transform: uppercase;
  font-family: 'Commons Regular', sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  color: white;
  background-color: var(--color2eg);
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
  transition-duration: 1s;
}

.dropbtn:hover {
  background-color: var(--color2eg);
  transition-duration: 1s;
}

header2 {
  padding: 20px;
  text-align: center;
  background-color: #333;
  border-top: 5px solid;
  border-image: linear-gradient(to right, var(--color1eg), var(--color2eg));
  border-image-slice: 1;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5), -2px -2px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.header2-content {
  display: flex;
  align-items: center;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
}

.menu-buttons {
  margin-left: -15px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.menu-buttons button {
  text-transform: uppercase;
  font-family: 'Commons Regular', sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  background-color: var(--color1eg);
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.menu-buttons button:hover {
  background-color: var(--color2eg);
  cursor: pointer;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.menu-link {
  color: inherit;
  text-decoration: none;
}

.artist-info-box {
  position: fixed;
  top: 100px;
  width: 200px;
  transform: translateX(-50%);
  background-color: var(--color1eg);
  line-height: 0px;
  padding: 10px;
  border-radius: 5px;
  color: white;
  text-align: center;
  z-index: 100;
  transition: 1s linear;
  left: 10%;
  box-shadow: 2px 2px 3px 0px #2b2b2b;
  transition-duration: 1s;
  cursor: pointer;
}

.artist-info-box:hover{
  background-color: var(--color2eg);
  transition-duration: 1s;
}

.artist-photo-box {
  background-color: var(--color1eg);
  border-radius: 5px;
  width: 200px;
  padding: 10px;
  top: 170px;
  left: 10%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
  box-shadow: 2px 2px 3px 0px #2b2b2b;
  transition-duration: 1s;
  position: fixed;
  cursor: pointer;
}

.artist-photo-box:hover{
  background-color: var(--color2eg);;
}

.artist-photo-box:hover .artist-photo{
  transition-duration: 1s;
  transform: rotate(45deg);
}

.artist-photo {
  width: 150px;
  height: 150px;
  margin-top: 10px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 2px 2px 3px 0px #2b2b2b;
  transition-duration: 1s;
}

.artist-details-cels{
  background-color: black;
  width: 200px;
  margin-top: -5px;
  font-size: 12px;
  border-radius: 3px;
  padding-bottom: 2px;
  padding-top: 2px;
  opacity: 0.35;
}

.artist-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.artist-details {
  margin-top: 20px;
  text-align: center;
  color: white;
  font-family: 'Commons Regular', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.artist-title{
  font-family: 'Commons Regular', sans-serif;
  text-transform: uppercase;
  font-size: 25px;
}

.artist-header{
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("https://timotheechalamet.net/photos/albums/uploads/Photoshoots/2023/005/TCF-017.jpg");
  background-size: cover;
  background-position: center left;
  color: #fff;
  padding: 50px 0;
  text-align: center;
  width: 100%;
  height: 350px;
}

.artist-header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 71.1%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
}

.artist-header-content {
  z-index: 2;
  width: 100%;
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}

.artist-photo img {
  background-size: cover;
  background-position: center;
  position:relative;
  z-index: 2;
  width: 300px;
  height: 300px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.artist-info {
  text-align: center;
  z-index: 2;
  margin-left: 10px;
  margin-top: -20px;
  position: fixed;
}

.artist-name {
  z-index: 2;
  font-family: 'Commons Regular', sans-serif;
  font-size: 40px;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  position: fixed;
}

.timeline {
  width: 100%;
  max-width: 600px;
  position: relative;
  left: 115px;
  margin-top: 50px;
}

.timeline-event {
  position: relative;
  margin-bottom: 60px;
}

.event-date {
  position: absolute;
  left: -100px;
  top: 0;
  width: 60px;
  height: 60px;
  background-color: var(--color1eg);
  font-family: 'Commons Bold', sans-serif;
  color: #fff;
  padding: 0;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  z-index: 1;
  margin-top: 50px;
  font-size: 20px;
}


.event-details {
  font-family: 'Commons Regular', sans-serif;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 50px;
}

.event-description:hover{
  background-color:var(--color2eg);
  cursor: pointer;
}

.event-image {
  flex-shrink: 0;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  overflow: hidden;
  margin-right: 20px;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.event-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.event-description {
  flex: 1;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  color: white;
  max-width: 300px;
  background-color: var(--color1eg);
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  line-height: 1.5;
  position: relative;
  z-index: 1;
}

.timeline:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 7px;
  background: var(--color1eg);
  margin-left: -2px;
  border-radius: 10px 10px 10px 10px;
}

.timeline-event:first-child:before {
  display: none;
}

.event-date {
  z-index: 1;
  cursor: pointer;
}

.timeline-event:hover .event-description {
  color: #ffffff;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.timeline-event:first-child:before {
  display: none;
}

.timeline-event:before {
  content: '';
  position: absolute;
  top: calc(50% - 4px);
  left: 10%;
  width: 40px;
  height: 8px;
  background: var(--color1eg);
  border-radius: 100px;
  z-index: 0;
  transition: background-color 0.3s ease;
}

.timeline-event:hover:before {
  background-color: var(--color1eg);
}

.timeline-event:hover .event-image img {
  transform: scale(105%);
  transition: transform 0.3s ease;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}

.event-image img {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}

.event-date {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.event-description {
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.timeline-container {
  position: relative;
  max-width: 700px;
  margin-top: 50px;
  margin-left: 20%;
  padding: 20px;
  background-color: #212121;
  border-radius: 10px;
  height: 500px;
  overflow: hidden;
}

.border-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-top: 30px solid var(--color1eg);
  padding: 10px 0;
  text-align: center;
}

.border-top p {
  position: absolute;
  font-family: 'Commons Regular', sans-serif;
  top: -40px;
  left: 10px;
  font-size: 15px;
  opacity: 0.5;
  color: #ffffff;
}

.discography-container {
  position: absolute;
  margin-top: -540px;
  margin-left: 76%;
  padding: 20px;
  width: 250px;
  max-height: 500px;
  background-color: #212121;
  border-radius: 10px;
  height: 300px;
  overflow-y: hidden;
  cursor: pointer;
}

.discography-album-img{
  margin-top: 20px;
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

.discography-album-title{
  font-family: 'Commons Regular', sans-serif;
  font-size: 15px;
  color: white;
  letter-spacing: 1px;
  margin-top: 0px;
}

h3{
  font-family: 'Commons Regular', sans-serif;
  font-size: 30px;
  margin-top: 0px;
  color: white;
  margin-bottom: -5px;
}

td {
  display: block;
  text-align: left;
}

.discography-album-info{
  font-family: 'Commons Regular', sans-serif;
  font-size: 15px;
  color: #999999;
  line-height: 5px;
  letter-spacing: 1px;
  margin-top: 0px;
}

.grammy-icon {
  position: absolute;
  transform: translateX(-50%);
  width: 76px;
  margin-left: 10px;
  margin-top: 10px;
  height: 78px;
  background-image: url('https://www.purchase.edu/live/image/gid/22/width/300/height/300/crop/1/25380_Gramophone_Icon_Only_Full_Color-01.rev.1700328115.png'); /* Adicione o caminho para a imagem do ícone do Grammy */
  background-size: contain;
  background-position: center;
  z-index: 3;
}

.scroll-button {
  position: sticky;
  z-index: 5;
  background-color: #333333;
  width: 30px;
  height: 30px;
  font-size: 20px;
  text-align: center;
  color: #555555;
  cursor: pointer;
  border-radius: 100%;
  font-weight: bold;
  left: 100%;
  transition-duration: 1s;
}

.up-button {
  top: 25px;
}

.down-button {
  bottom: 0;
}

.scroll-button:hover {
  background-color: var(--color1eg);
  color: white;
  transition-duration: 1s;
}

.scroll-button.disabled {
  pointer-events: none;
  color: var(--color2eg);
}
