:root {
  --color1at: #9CC1D9;
  --color2at: #9CC1D9;
  --color3at: #2C4359;
  --color4at: #2C4359;
  --image-url-header: url("https://i.imgur.com/lYK8x9H.png");
  --image-url-artist: url("https://i.imgur.com/WcK7igD.png");
}

.artist-header{
  background-position: center left;
}
