:root {
  --color1at: #A3BF3B;
  --color2at: #A3BF3B;
  --color3at: #99AABF;
  --color4at: #99AABF;
  --image-url-header: url("https://i.imgur.com/0Xyhp2P.jpeg");
  --image-url-artist: url("https://i.imgur.com/egopiOi.jpeg");
}
